body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App{
  max-width: 600px;
  margin: 1vh auto;
}

.ql-container.ql-snow,
.ql-toolbar.ql-snow{
  border: none !important;
}
.ql-container{
  font-size: 16px !important;
}

.quill-wrapper{
  border: 1px solid red;
}
.ql-toolbar--stick{
  background: rgba(255, 255, 255, 1);
  position: fixed;
  top: 0;
  z-index: 1;
}